/* 初期設定 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-medium: 500;
}

/* 色設定 */

:root {
  --first-color: #5361FF;
  --white-color: #FAFAFF;
  --dark-color: #2A3B47;
  --text-color: #697477;
}

:root {
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
  :root {
  --big-font-size: 10.5rem;
  --h2-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  }
}

/* マージン */
:root {
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;  
}

/* z-index */
:root {
  --z-fixed: 100;
}

*,::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

